API_ID="-1"
API_HASH="xxxxxxxxxx"

SUDO_USERS="-1"

# Use only one out of BOT_TOKEN and SESSION_STRING
BOT_TOKEN="xxxxxxxxxxxxxx"
SESSION_STRING="xxxxxxxxx"

SOURCE_IDS="-1"
DESTINATION_IDS="-1"

DOC_EXT="pdf epub azw3 zip mp3 m4b"
